/*
*  Toast components.
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. General
*
*/


/*===================================
=            01. General            =
===================================*/

// b-toaster
// b-toaster-slot
// b-toast
// toast bc-toast
// toast-header | toast-body
.b-toaster.b-toaster-top-left .b-toaster-slot,
.b-toaster.b-toaster-top-right .b-toaster-slot,
.b-toaster.b-toaster-top-center .b-toaster-slot,
.b-toast,
.bc-toast {
  max-width: 17rem;
}

.b-toaster.b-toaster-top-right {
  top: 1rem;
  right: 1.5rem;
}

.bc-toast {
  border-radius: 1rem;
  .toast-header {
    position: relative;
    border-bottom: 0;
    padding: 1rem 2rem;
    min-height: 5rem;
    strong {
      font-weight: 400;
      margin-right: 0!important;
    }
  }
  .close {
    float: none;
    position: absolute;
    top: 0.25rem;
    right: 0.75rem;
  }
}

.b-toast .bc-toast .toast-body {
  display: none;
}

/*=====  End of 01. General  ======*/
