@import './../../assets/scss/base/variables';
.jun-user-menu {
  position: relative;
  &__wrapper {
    flex: 1 0 auto;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__avatar {
    &-wrapper {
      flex: 1 0 3rem;
      max-width: 3rem;
      // min-height: calc(3rem * 1.09);
      border-radius: 0.375rem;
      overflow: hidden;
    }
  }
  &__name {
    flex: 1 0 calc(100% - 3rem);
    max-width: calc(100% - 3rem);
    font-weight: 700;
    padding: 0 1rem;
    color: $color-white;
  }
  &__action {
    &-list {
      position: absolute;
      z-index: $z-index-dropdown;
      left: 0;
      bottom: 100%;
      width: 100%;
      padding: 0.5rem 0;
      opacity: 0;
      visibility: hidden;
      border-radius: 0.375rem;
      // border: 0.0625rem solid $color-border;
      background-color: $color-white;
      // box-shadow: 0 0.25rem 0.375rem adjust-color($color-black, $alpha: -0.8);
      &--opened {
        opacity: 1;
        visibility: visible;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      &:hover {
        color: $color-mantu;
        // background-color: adjust-color($color-mantu, $alpha: -0.8);
      }
    }
    &-link {
      display: flex;
      flex-grow: 1;
      // color: $color-text;
      font-weight: 500;
      padding: 0.5rem;
    }
    &-icon {
      flex: 1 0 1.5rem;
      max-width: 1.5rem;
      display: flex;
      margin: 0 0.5rem;
      justify-content: center;
    }
  }
}
